<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="container">
      <div id="chats" class="chats"></div>

      <div class = "msgsend-container">
        <form id="message-form">        
          <img src="/public/images/Blocks.png">
          <input type="text" name="message" placeholder="message">
          <!-- <input type="hidden" name="user" value=" user.first_name %>"> -->
          <input id="room" type="hidden" value="<%= match.room %>">
          <button type="submit" id="submit-btn">Submit</button>
        </form>
      </div>
    </div>
    <script>
      const size = function (event) {
        document.getElementById("chats").style.height = ($(window).height()-226)+"px";
      }
      window.addEventListener('resize', size, true);
      window.addEventListener('load', size, true);
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src ="/chat.js"></script>
    <script type="text/javascript" src ="/moment.js"></script>

  </body> 
    <%- include('_footer.ejs') %>  
</html>