<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>


    <div class = "search-container">
      <form action="/search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class = "userList-container">
        <% for (var key in newUser) { %>
          <h3><%= newUser[key].first_name %></h3>
          <h3><%= newUser[key]._id%></h3>
        <% } %>

    </div>


    <script src="/socket.io/socket.io.js"></script>
    
  </body> 
  
</html>