<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link rel="stylesheet" href="../vendor/nouislider.min.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <strong>
          <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
            <path fill-rule="evenodd" d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z"></path>
          </svg>
        </strong>
      </a>
    </nav>
    <div class="container container-edit d-flex align-items-center flex-column">
      <form action="/update" method="post">
      <div class="btn-container d-flex flex-column">
        <h3>Who do you want to see?</h3>
          <input type="hidden" name="profileid" value="<%= profileid %>">
          <div class="age-container">
            <label for="age">AGE</label>
            <input type="hidden" name="minage" id="range-age-min">
            <input type="hidden" name="maxage" id="range-age-max">
            <div id="slider-range-age"></div>
          </div>
          <div class="distance-container">
            <label for="distance-range">DISTANCE</label>
            <input type="hidden" name="distance" id="range-distance">
            <div id="distance-range"></div>
          </div>
          <div class="personal-chars">
            <div>
              <input type="radio" name="characteristics" id="Straight" value="Straight" />
              <label for="Straight">Straight</label>
            </div>
            <div>
              <input type="radio" name="characteristics" id="Gay" value="Gay" />
              <label for="Gay">Gay</label>
            </div>
            <div>
              <input type="radio" name="characteristics" id="Queer" value="Queer" />
              <label for="Queer">Queer</label>
            </div>
            <div>
              <input type="radio" name="characteristics" id="Asexual" value="Asexual" />
              <label for="Asexual">Asexual</label>
            </div>
            <div>
              <input type="radio" name="characteristics" id="Bisexual" value="Bisexual" />
              <label for="Bisexual">Bisexual</label>
            </div>
          </div>
          <button type="submit" class="btn-profile btn mt-2 btn-rounded">Confirm</a>
          </div>
        </form>
    </div>

    <div class="footer footer-container">
      <button class="btn btn-footer btn-light-yellow btn-rounded">Account</button>
      <button class="btn btn-footer btn-horoscope-icon btn-light-yellow rounded-square rounded-circle btn-rounded">
        <img width="30px" height="30px" src="../images/horoscope/aries.svg" />
      </button>
      <button class="btn btn-footer btn-light-yellow btn-rounded">Matches</button>
    </div>
    <script src="../vendor/nouislider.min.js"></script>
    <script>
      var ageMinInp = document.getElementById('range-age-min');
      var ageMaxInp = document.getElementById('range-age-max');
      var distanceInp = document.getElementById('range-distance');
      var sliderRangeAge = document.getElementById("slider-range-age");

      noUiSlider.create(sliderRangeAge, {
        start: [25, 45],
        tooltips: [true, true],
        connect: true,
        step: 1,
        range: {
          min: 18,
          max: 110,
        },
      });

      var bigValueSlider = document.getElementById("distance-range");
      noUiSlider.create(bigValueSlider, {
        range: {
          min: 0,
          max: 100,
        },
        step: 1,
        tooltips: [true],
        start: [50],
        pips: { mode: "count", values: 5 },
      });

      sliderRangeAge.noUiSlider.on('update', function (values, handle) {
        var value = parseInt(values[handle]);
        if (handle) {
          ageMaxInp.value = value;
        } else {
          ageMinInp.value = value;
        }
      });

      bigValueSlider.noUiSlider.on('update', function (values, handle) {
        var value = parseInt(values[handle]);
        distanceInp.value = value;
      });
    </script>
  </body>
</html>
