<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <form action="addOrientation" method="post">
        <h2>My sexual orientation is...</h2>
          <div class="content-wrapper">
            <label class="orientation">Straight
              <input type="radio" name="orientation" value="straight">
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Gay
              <input type="radio" name="orientation" value ="gay">
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Queer
              <input type="radio" name="orientation" value="queer">
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Asexual
              <input type="radio" name="orientation" value="Asexual">
              <span class="checkmark"></span>
            </label>

            <label class="orientation">Bisexual
              <input type="radio" name="orientation" value="Bisexual">
              <span class="checkmark"></span>
            </label>

          </div>

          <h2>I identify as...</h2>
          <div class="content-wrapper">
            <label class="orientation">Women
              <input type="radio" name="gender" value="women">
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Men
              <input type="radio" name="gender" value="men">
              <span class="checkmark"></span>
            </label>
            <label class="orientation">None
              <input type="radio" name="gender" value="None">
              <span class="checkmark"></span>
            </label>
          </div>

          <h2>I want to see...</h2>
          <div class="content-wrapper">
            <label class="orientation">Women
              <input type="radio" name="toSee" value="women">
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Men
              <input type="radio" name="toSee" value="men">
              <span class="checkmark"></span>
            </label>
            <label class="orientation">Everyone
              <input type="radio" name="toSee" value="everyone">
              <span class="checkmark"></span>
            </label>
          </div>

        
          <input type="hidden" name="email" value="<%= email %>">
          <input type="hidden" name="registerStep" value="4">
          <button class="nextBtn">Next</button>

      </form> 
    </div>

    
  </body> 
  
</html>