<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <script type="text/javascript"> 
      $(function() { $("#login").validate(); });
    </script>

    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <h1>What's your name?</h1>

      <form id="login" action="addUser" method="post">

        <div class="content-wrapper">
          <input name="first_name" class="input" type="text" placeholder="First Name" minlength="2">
        </div>

        <div class="content-wrapper">
          <input name="email" class="input" type="email" placeholder="Email"  data-rule-required="true" data-rule-email="true" data-msg-required="Please enter your email address" data-msg-email="Please enter a valid email address">

          <% if(locals.message){ %>
          <div class="error-message">
              <%= message.error%>
          </div>
          <% } %>

          <input name="password" class="input" type="password" placeholder="Password" minlength="5">
          <!-- <input name="pass" class="input" type="password" placeholder="Re-enter Password"> -->
          <input type="hidden" name="registerStep" value="2">
        </div>


        
        <button class="nextBtn">Next</button>

      </form> 
    </div>

  </body> 
</html>