<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>

    <div class="intro-container">
        <!-- shows the verifying text and gif -->
        <div id = "verifying">
            <h1>Verifying...</h1>
            <!-- <iframe  src="https://giphy.com/embed/3G4UqgoXTdOyV8ALku" width="254" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
            <iframe src="https://giphy.com/embed/3oriNO0p3Sn0itamg8" width="254" height="500" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>

        <!-- shows the thank you and afterward fig -->
        <div id = "verifyText" style="visibility: hidden;">
            <h1>Thank you!</h1>
            <div class="content-wrapper verify" >
                <p>You have successfully joined Flirtigo!</p>
                <img  src="../public/images/congrats.gif" width="254" height="254">
            </div>
        </div>

        <!-- button also shows after verifying -->
        <!-- <a button id ="verifyBtn" class="nextBtn" style="visibility: hidden;" href= "/">Sign In</a> -->
        <div class="nextBtn-wrapper">
            <a button id ="verifyBtn" class="nextBtn" href= "/signIn" style="visibility: hidden;" >Sign In</a>
        </div>
    </div>

    <script type="text/javascript">
        window.setTimeout("document.getElementById('verifying').style.display='none';", 3000); 
        
        function showIt2() {
            document.getElementById("verifyText").style.visibility = "visible";
            // document.getElementById("verifyText").style.visibility = "visible";
             document.getElementById("verifyBtn").style.visibility = "visible";
        }
        setTimeout("showIt2()", 3000); 
        </script>
        
  </body> 
  
</html>