<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <h1>What's your age?</h1>
      <p>You must be 18+ to use Flirtigo</p>

      <form action="addAge" method="post">
        <div class="content-wrapper">
          <input type="date" id="birthday" name="birthday" required>        
          
          <% if(locals.message){ %>
          <div class="error-message">
              <%= message.error%>
          </div>
          
        </div>
        
          <% } %>

        <div class="content-wrapper, zodiac">
          <p>Your zodiac </p>
        </div>
        
        <input type="hidden" name="email" value="<%= email %>">
        <input type="hidden" name="registerStep" value="3">
        <button class="nextBtn">Next</button>
        <!-- <a class="nextBtn" href="/register_address">Next</a> -->
      </form> 
    </div>    
  </body> 
  
</html>