<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">

    <img class="logo1" src="../public/images/LOGO1.png" width="104" height="104">
      <p class="content-wrapper"> A natal horoscope is a chart of the angles of the planets in the Solar System and their positions in the zodiac at the exact time of a person's birth. </p>
      <a class="nextBtn" href="/signUp_Intro_3">Next</a>
    </div>
 

  </body> 
</html>