<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_bold_nav_bar.ejs') %>
    <div class="logo-container">
      <img class="logo1" src="../public/images/logo_line.svg" width="104" height="104">    
    </div>

    <div class="content-wrapper">

      <h1>Did you know</h1>
      <p> some horoscopes are very compatible with one another?</p>
      <p> <strong>Synastry</strong> (astrological compatibility) is the branch of astrology that studies relationships by comparing
      natal horoscopes.</p>
    <div class="nextBtn-wrapper">
      <a class="nextBtn" href="/signup_Intro_3">Next</a>
    </div>

 

  </body> 
</html>