<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_bold_nav_bar.ejs') %>
    <div class="logo-container">
      <img class="logo1" src="../public/images/logo_line.svg" width="104" height="104">
    </div>
    <div class="content-wrapper">
      <!-- <h1> These angles </h1> <p>represent the positive and negative relationships between the planets and horoscopes.<br>
        Our Flirtigo team is ready to help you find your perfect match!</p> -->
       <h1> A natal<br> horoscope</h1> 
      <p>is a chart of the angles of the planets in the Solar System and their positions in the zodiac at the exact time of a person's birth. 
      These angles represent the positive and negative relationships between the planets and horoscopes.</p>
      <p>We are ready to help you find your perfect match!</p>
    </div> 
      </div>
      <div class="nextBtn-wrapper">
        <a class="nextBtn" href="/register">Next</a>
      </div>
 
  </body> 
</html>