<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">

    <img class="logo1" src="../public/images/LOGO1.png" width="104" height="104">
      <p class="content-wrapper"> These angles represent the positive and negative relationships between the planets and horoscopes.<br>
        Our Flirtigo team is ready to help you find your perfect match!</p>
      <a class="nextBtn" href="/register">Next</a>
    </div>
 
  </body> 
</html>