<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <img
        class="logo1"
        src="../public/images/LOGO1.png"
        width="104"
        height="104"
      />
      <p class="content-wrapper">
        Did you know that some horoscopes are very compatible with one another?
      </p>
      <p class="content-wrapper">
        Synastry the branch of astrology that studies relationships by comparing
        natal horoscopes.
      </p>
      <a class="nextBtn" href="/signUp_Intro_2">Next</a>
    </div>
  </body>
</html>
