<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>

         

      <div class="content-wrapper">
        <h1 class="FAQ-title"><em>FAQs</em></h1>
        <div class="FAQ">
            <h3>Why Horoscopes? </h3> 
            <div style="display: none;">
                <p> There is no way to fully grasp two personalities and their contact based solely on compatibility of their Sun signs. 

                In order to truly approach the relationship between two people as a special entity that lives its own life, we have to use personal data, both natal charts, and their comparison for each match. 
                </p>  
            </div>

        </div>

        <div class = "FAQ">
            <h3>What is the minimum age requirement?</h3>
            <div style="display: none;">
                <p>
                 The minimum age requirement for Flirtigo is <b>18</b> years old.
                </p>
                <p>
                If you've been blocked from Flirtigo because the birth date you entered on signup signifies that you're under 18 years old, 
                you'll remain blocked from the service for the amount of time specified on the login screen. You can continue with the signup 
                process once that amount of time has passed. 
                </p> 
            </div>

        </div>

        
        <div class = "FAQ">
            <h3>How do I report someone?</h3>
            <div style="display: none;">
            <p>
                The safety of our users is very important to us. You can report users that you’ve already matched with, 
                and users you haven’t matched with. 
            </p>
            <p>
                To report someone, go to his/her profile > scroll down and tap Report.
            </p>
                
             <p>
                We encourage you to report and block any suspicious users or behavior.
            </p> 
            </div>
  
        </div>

        <div class = "FAQ">
            <h3>Can I delete a message?</h3>
            <div style="display: none;">
            <p>
                You can’t delete individual messages on Flirtigo. However, you can remove entire conversations by unmatching someone. When you unmatch someone, you’ll disappear from their match list and they'll disappear from yours. 
            </p> 
            </div>
        
        <div class ="FAQ">
            <h3>My account is banned?</h3>
            <div style="display: none;">
                <p>
                    If you’ve been banned from Flirtigo, you’ll see a message letting you know when you try to log in. We ban accounts when we detect account activity that violates our code of conduct. 
                </p>
                <p>
                    User safety is always at top of mind, and we don’t take violations of our policies lightly. 
                </p>

        </div>

        <div class ="FAQ">
            <h3>Someone is impersonating me?</h3>
            <div style="display: none;">
                <p>
                    If someone's created a Flirtigo profile using your photos or other personal information, please write to us and include the following information: 
                    <ul>
                        <li> The reason for the report</li>
                        <li> The exact name, age, bio, and photos that appear on the profile that you are reporting (screenshots are best)</li>
                        <li> The user's location, phone number and email address if known</li>
                    </ul>
                    The more details you can provide, the quicker we'll be able to identify and investigate and remove the profile in question. 
                </p>
            </div>
        </div>

        <div class ="FAQ">
            <h3>I'm concern about another user's safety?</h3>
            <div style="display: none;">
                <p>If anyone is in immediate danger, please contact your local law enforcement for help right away. 
                </p>
                <p>If you or someone you know is in emotional or suicidal distress, there are people available to help, listen, offer support, and provide guidance on whatever you may be dealing with.
                </p>
                <p>Please visit The International Association for Suicide Prevention's website, to locate resources and crisis centers throughout the world.</p>

            </div>
        </div>

        <div class ="FAQ">
            <h3>Contact Info</h3>
            <div style="display: none;">
                <p><h4>Address:</h4>332 Water St Unit 205, Vancouver, BC 
                    V6B 1B6</p>
                <p><h4>Phone Number</h4>1800-999-0999</p>
                <p><h4>Email</h4>flirtigoltd@flirtigo.com</p>
            </div>

        </div>

        <div class ="FAQ">
            <h3>Safety Tips</h3>
            <div style="display: none;">
                <p>
                    Meeting new people is exciting, but you should always be cautious when interacting with someone you don’t know. 
                </p>
                <p>
                    Use your best judgment and put your safety first, whether you are exchanging initial messages or meeting in person. 
                    While you can’t control the actions of others, there are things you can do to help you stay safe during your Flirtigo experience.
                </p>
            </div>
        </div>

    

        

    </div> 
  </body> 
  
</html>