<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>


    <div class="content-wrapper">

        <h1 id="Guideh1">Contact</h1>

        <div >        
            <div class="FAQ">
                   <p><h4>Address:</h4>332 Water St Unit 205, Vancouver, BC 
                        V6B 1B6</p>
                    <p><h4>Phone Number</h4>1800-999-0999</p>
                    <p><h4>Email</h4>flirtigoltd@flirtigo.com</p>  
            </div>  
           
           
      
            </div>
            
     </div>

  </body> 
  
</html>

