 <!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>


    <div class="intro-container">

        <h1>Contact & FAQs </h1>

        <div class="btn-container">        
            <a class="btn-faq" href="faqGuide"> A Guide to Flirtigo</a>
            <a class="btn-faq" href="faqTrouble">Troubleshooting</a>
            <a class="btn-faq" href="faqSecurity"> Security</a>
            <a class="btn-faq" href="faqAddress"> Contact</a>
     </div>

  </body> 
  
</html>

