<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>


    <div class="intro-container">

        <h1>A Guide to Flirtigo</h1>
    </div>

    <div class="guide-wrapper">

        <div class="FAQ btn-container">
            <a class="btn-faq"> Why Horoscopes?</a>
            <div class= "faq-text-wrapper" style="display: none;">
                <p> There is no way to fully grasp two personalities and their contact based solely on compatibility of their Sun signs. 

                In order to truly approach the relationship between two people as a special entity that lives its own life, we have to use personal data, both natal charts, and their comparison for each match. 
                </p>  
            </div>
        </div>  
        
        <div class = "FAQ btn-container">
            <a class="btn-faq"> Minimum age requirement?</a>
            <div class= "faq-text-wrapper" style="display: none;">
                <p>
                    The minimum age requirement for Flirtigo is <b>18</b> years old.
                </p>
                <p>
                If you've been blocked from Flirtigo because the birth date you entered on signup signifies that you're under 18 years old, 
                you'll remain blocked from the service for the amount of time specified on the login screen. You can continue with the signup 
                process once that amount of time has passed. 
                </p> 
            </div>
        </div>
        
        <div class = "FAQ btn-container">
            <a class="btn-faq">How do I report someone?</a>
            <div class= "faq-text-wrapper" style="display: none;">
            <p>
                The safety of our users is very important to us. You can report users that you’ve already matched with, 
                and users you haven’t matched with. 
            </p>
            <p>
                To report someone, go to his/her profile > scroll down and tap Report.
            </p>
                
                <p>
                We encourage you to report and block any suspicious users or behavior.
            </p> 
            </div>   
        </div>
        

        <div class = "FAQ btn-container">
            <a class="btn-faq">Can I delete a message?</a>
            <div class= "faq-text-wrapper" style="display:none;">
            <p>
                You can’t delete individual messages on Flirtigo. However, you can remove entire conversations by unmatching someone. When you unmatch someone, you’ll disappear from their match list and they'll disappear from yours. 
            </p> 
            </div>
        </div>
    </div>
    <script>
        $(window).on("load resize touchmove", function () {
          let container_y_position = $('.intro-container').offset().top;
          let msg_form_y_position = $('.footer').offset().top;
          $('.guide-wrapper').outerHeight( msg_form_y_position - container_y_position);
        });
    </script>

     <%- include('_footer_zodiac.ejs') %>  
  </body> 
  
</html>

