<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>


    <div class="content-wrapper">

        <h1 id="Guideh1">Security</h1>

        <div >        
            <div class="FAQ">
                <a class="btn-faq">  Impersonating me? </a>
                <div style="display: none;">
                    <p>
                        If someone's created a Flirtigo profile using your photos or other personal information, please write to us and include the following information: 
                        <ul>
                            <li> The reason for the report</li>
                            <li> The exact name, age, bio, and photos that appear on the profile that you are reporting (screenshots are best)</li>
                            <li> The user's location, phone number and email address if known</li>
                        </ul>
                        The more details you can provide, the quicker we'll be able to identify and investigate and remove the profile in question. 
                    </p>
                </div>
    
            </div>  
           
            <div class = "FAQ">
                <a class="btn-faq"> Another user's safety?</a>
                <div style="display: none;">
                    <p>If anyone is in immediate danger, please contact your local law enforcement for help right away. 
                    </p>
                    <p>If you or someone you know is in emotional or suicidal distress, there are people available to help, listen, offer support, and provide guidance on whatever you may be dealing with.
                    </p>
                    <p>Please visit The International Association for Suicide Prevention's website, to locate resources and crisis centers throughout the world.</p>
  
                </div>
    
            </div>
            
            <div class = "FAQ">
                <a class="btn-faq">Report a bug</a>
                <div style="display: none;">
                <p>
                    To report a security vulnerability or learn more about our security practices, please visit our 
                “Contact Page”
                </p>

                </div>
      
            </div>
            
     </div>

  </body> 
  
</html>

