<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>


    <div class="content-wrapper">
        <h1 id="Guideh1">Troubleshooting</h1>
    </div>

    <div class="guide-wrapper">

            <div class="FAQ btn-container">
                <a class="btn-faq"> Can't log in </a>
                <div class= "faq-text-wrapper" style="display: none;">
                    <p>  If you can't sign into your account because your phone number has changed, use account recovery to regain access. 

                    </p>  
                </div>
    
            </div>  
           
            <div class = "FAQ btn-container">
                <a class="btn-faq"> Account is banned?</a>
                <div class= "faq-text-wrapper" style="display: none;">
                    <p>
                        If you’ve been banned from Flirtigo, you’ll see a message letting you know when you try to log in. 
                        We ban accounts when we detect account activity that violates our code of conduct. 
                    </p>
                    <p>
                        User safety is always at top of mind, and we don’t take violations of our policies lightly. 
                    </p>
  
                </div>
    
            </div>
            
            <div class = "FAQ btn-container">
                <a class="btn-faq">Age and Name is wrong</a>
                <div class= "faq-text-wrapper" style="display: none;">
                <p>
                    Your name and age are the only pieces of your profile you can't update once you've created an account.
                </p>
                <p>
                    If you need to update one or both, you can delete your account and start over. 
                </p>
              
                </div>
      
            </div>
            
     </div>
    <script>
        $(window).on("load resize touchmove", function () {
          let container_y_position = $('.intro-container').offset().top;
          let msg_form_y_position = $('.footer').offset().top;
          $('.guide-wrapper').outerHeight( msg_form_y_position - container_y_position);
        });
    </script>

     <%- include('_footer_zodiac.ejs') %> 
  </body> 
  
</html>

