<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="info-container">
        <div class="btn-container btn-edit-container">
          <a class="btn-profile">Location</a>
          <a class="btn-profile">Sexual Orientation</a>
          <a class="btn-profile">Work/Education</a>
          <a class="btn-profile">Profile Photos</a>
        </div>
<<<<<<< HEAD
      </div>
      <%- include('_footer.ejs') %>
=======
>>>>>>> 003ef4b0897691ba7913759dc33cf77052d5575e
    </div>
    <script>
      heightCalculation(".info-container",243)
    </script>
    <%- include('_footer.ejs') %>
  </body>
</html>
