<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <div class="container container-info">
        <div class="btn-container btn-edit-container">
          <a class="btn-profile">Location</a>
          <a class="btn-profile">Sexual Orientation</a>
          <a class="btn-profile">Work/Education</a>
          <a class="btn-profile">Profile Photos</a>
        </div>
      </div>
      <%- include('_footer.ejs') %>
    </div>
  </body>
</html>
