<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <div class="container container-info">
        <div class="btn-container btn-edit-container">
          <a class="btn-profile" href="edit_address">Location</a>
          <a class="btn-profile" href="edit_orientation">Sexual Orientation</a>
          <!-- <a class="btn-profile">Work/Education</a> -->
          <a class="btn-profile" href="edit_photo">Profile Photos</a>
        </div>
      </div>
      <%- include('_footer 2.ejs') %>
    </div>
  </body>
</html>
