  <div class="footer footer-container">
    <button class="btn btn-footer btn-rounded">Account</button>
    <button class="btn btn-footer" id="btn-horoscope-icon">
      <img  height="75%" src="../public/images/Centre_button.png" />
    </button>
    <button class="btn btn-footer btn-rounded">Matches</button>
  </div>