<div class="footer footer-container">
  <a class="btn btn-footer btn-rounded">Account</a>
  <a id="btn-horoscope-icon" href = "loadingScreen" >
    <img  height="75%" src="../public/images/Centre_button.png" />
  </a>
  <a class="btn btn-footer btn-rounded">Matches</a>
</div>

