<div class="footer footer-container">
  <button class="btn btn-footer btn-rounded">Account</button>
  <button class="btn btn-footer btn-horoscope-icon">
    <img width="30px" height="30px" src="" />
  </button>
  <button class="btn btn-footer btn-rounded">Matches</button>
</div>