<div class="footer footer-container">
  <a class="btn btn-footer btn-rounded" href="user">Account</a>
  <a id="btn-horoscope-icon" href = "loadingScreen" >
    <img  height="75%" src="../public/images/star_button.svg" />
  </a>
  <a class="btn btn-footer btn-rounded" href="chat_main">Matches</a>
</div>


