<div class="profile_footer">
    <a button class="footer_btn ">Account</a>
    <a button class="Centre_button">
      <img  src="../public/images/X.png" />
    </a>
    <a button class="footer_btn ">Matches</a>
  </div>  