<div class="footer">
  <a class="footer-btn" href="/user">Account</a>
  <a class="footer-img zodiac-img" href = "/userList" >
    <img src="public/images/horoscope/profile-<%= zodiac %>.svg" />
  </a>
  <a class="footer-btn" href="/chat_main">Matches</a>
</div>