
  <div class="footer footer-container">
    <a class="btn btn-footer btn-rounded" href="user">Account</a>
    <a id="btn-horoscope-icon" href ="javascript: history.go(-2)" >
      <img  height="75%"  src="../public/images/X.png" />
    </a>
    <a class="btn btn-footer btn-rounded" href="chat_main">Matches</a>
  </div>
  
  