

    

<div class="profile_footer">
    <a button class="footer_btn ">Account</a>
    <a button class="Centre_button"  href = "loadingScreen">
      <img  src="../public/images/Centre_button.png" />
    </a>
    <a button class="footer_btn ">Matches</a>
  </div>  

  <!-- <div class="footer footer-container">
    <button class="btn btn-footer btn-rounded">Account</button>
    <button class=" btn-horoscope-icon">
      <img src="../public/images/Centre_button.png" />
    </button>
    <button class="btn btn-footer btn-rounded">Matches</button>
  </div> -->

  
