  
  <div class="footer">
    <a class="footer-btn" href="user">Account</a>
    <a class="footer-img" href ="javascript: history.go(-2)" >
      <img  height="75%" src="../public/images/X.svg" />
    </a>
    <a class="footer-btn" href="chat_main">Matches</a>
  </div>