
<div class="profile_footer">
    <a button class="footer_btn ">Account</a>
    <a button class="Centre_button"  href = "loadingScreen">
      <img  src="../public/images/Centre_button.png" />
    </a>
    <a button class="footer_btn ">Matches</a>
  </div>  


