<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <div class="main-container">
      
      <h1>Flirtigo</h1>
      <img class="logo1" src="../public/images/Logo.gif" width="254" height="254">
      <div class="sign-btn">
        <a id="signIn" href="/signIn" >Sign-In</button>
        <a id="signUp" href="/signUp_Intro">Sign-Up</a>
      </div>

  </div>
  </body> 
</html>
