<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <div id="stars-container">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>    
      
      <div class="main-container">
      
        <h1>Flirtigo</h1>
        <img class="logo1" src="../public/images/Logo.gif" width="187" height="187">
        <div class="sign-btn">
          <a id="signIn" href="/signIn" >Sign-In</button>
          <a id="signUp" href="/signUp_Intro">Sign-Up</a>
        </div>

      </div>
    </div>
  </body> 
</html>
