<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_bold_nav_bar.ejs') %>
    <div class="logo-container">
    
    <img class="logo1" src="../public/images/star_button.svg" width="104" height="104">
      <p class="content-wrapper"> Look for this magical horoscope button to check whether the bond between the two of you is written in the stars.
      </p>
    </div>
      <!-- <div class="nextBtn-wrapper">
        <a class="nextBtn" href="/userList">Begin</a>
      </div> -->
    <form action="main" method="post">
      <div class="nextBtn-wrapper">
        <button class="nextBtn" >Begin</button>
      </div>
    </form>
 
  </body> 
</html>