<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="intro-container">
      <img class="logo1" src="../public/images/LOGO1.png" width="104" height="104" />
      <p class="content-wrapper">Look for this magical horoscope button to check whether the bond between the two of you is written in the stars.</p>
      <a class="nextBtn" href="/profile">Begin</a>
    </div>
  </body>
</html>
