<!-- this one is connected to the browser -->
<!DOCTYPE html>
<html lang="en">
  <%- include('_header.ejs') %>
<body>
  <%- include('_nav_bar.ejs') %>

<div class = "match intro-container-profile">
    <div style="text-align:center">
           <h1> Compatibility</h1>
    </div>
 
    <!-- information -->
    <div class="compBox">
      <div id="compatibility-text">
        <p>Based on your compatibility algorithm,</p>
        <p>The two horoscopes compliment 0%. </p>
        <p>Try another person!</p>
        </div>

        <div class="heart">
            <!-- <img src="../public/images/heart.png" >   -->
            <svg width="148" height="132" viewBox="0 0 148 132" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.63659 8.48511L8.63619 8.4855C6.1087 10.975 4.08731 13.9372 2.68536 17.2063C1.23176 20.6081 0.489655 24.2192 0.500114 27.9361V27.9375C0.500114 31.4408 1.21048 35.1021 2.62937 38.8385L2.6298 38.8396C3.80668 41.9613 5.52336 45.2093 7.71107 48.4981C11.177 53.7018 15.9518 59.142 21.8949 64.6675C31.7569 73.8294 41.5049 80.1492 41.9103 80.4109L41.9104 80.4109L44.4333 82.0405C44.4336 82.0406 44.4338 82.0408 44.4341 82.0409C45.3873 82.653 46.6129 82.653 47.566 82.0409C47.5663 82.0408 47.5665 82.0406 47.5668 82.0405L50.0897 80.4109L50.0896 80.4109L50.0976 80.406C50.4939 80.1604 60.2527 73.8305 70.1052 64.6676L70.1052 64.6675C76.0483 59.1421 80.8229 53.702 84.2889 48.4984C86.476 45.2104 88.1827 41.9619 89.3707 38.8385C90.7896 35.1021 91.5 31.4408 91.5 27.9375C91.5 24.2194 90.7576 20.6077 89.3039 17.2057C87.9059 13.9349 85.8842 10.9724 83.3537 8.48593L83.353 8.48526C80.8107 5.97767 77.8508 4.00808 74.5663 2.63865L74.5657 2.63843C71.1665 1.21649 67.5688 0.500075 63.8537 0.500075C58.6958 0.500075 53.664 1.9224 49.2915 4.60867L49.0307 4.18414L49.2915 4.60868C48.2454 5.2513 47.252 5.9569 46.311 6.72551L45.9947 6.98389L45.6784 6.72551C44.7375 5.9569 43.744 5.2513 42.6979 4.60868L42.9587 4.18414L42.6979 4.60867C38.3254 1.9224 33.2937 0.500075 28.1357 0.500077L28.1346 0.500074C24.459 0.491554 20.8183 1.21837 17.4238 2.63842L17.4231 2.63869C14.1497 4.00266 11.1667 5.98739 8.63659 8.48511Z" fill="#2B2D42" stroke="white"/>
              <path d="M43 24L42 2L47.5 3.5H50L48.5 20.5L58 27L43 59L47 80.5L40 56.5L50 29L43 24Z" fill="white"/>
              <path d="M64.6366 37.4851L64.6362 37.4855C62.1087 39.975 60.0873 42.9372 58.6854 46.2063C57.2318 49.6081 56.4897 53.2192 56.5001 56.9361V56.9375C56.5001 60.4408 57.2105 64.1021 58.6294 67.8385L58.6298 67.8396C59.8067 70.9613 61.5234 74.2093 63.7111 77.4981C67.177 82.7018 71.9518 88.142 77.8949 93.6675C87.7569 102.829 97.5049 109.149 97.9103 109.411L97.9104 109.411L100.433 111.04C100.434 111.041 100.434 111.041 100.434 111.041C101.387 111.653 102.613 111.653 103.566 111.041C103.566 111.041 103.567 111.041 103.567 111.04L106.09 109.411L106.09 109.411L106.098 109.406C106.494 109.16 116.253 102.831 126.105 93.6676L126.105 93.6675C132.048 88.1421 136.823 82.702 140.289 77.4984C142.476 74.2104 144.183 70.9619 145.371 67.8385C146.79 64.1021 147.5 60.4408 147.5 56.9375C147.5 53.2194 146.758 49.6077 145.304 46.2057C143.906 42.9349 141.884 39.9724 139.354 37.4859L139.353 37.4853C136.811 34.9777 133.851 33.0081 130.566 31.6387L130.566 31.6384C127.167 30.2165 123.569 29.5001 119.854 29.5001C114.696 29.5001 109.664 30.9224 105.292 33.6087L105.031 33.1841L105.292 33.6087C104.245 34.2513 103.252 34.9569 102.311 35.7255L101.995 35.9839L101.678 35.7255C100.737 34.9569 99.744 34.2513 98.6979 33.6087L98.9587 33.1841L98.6979 33.6087C94.3254 30.9224 89.2937 29.5001 84.1357 29.5001L84.1346 29.5001C80.459 29.4916 76.8183 30.2184 73.4238 31.6384L73.4231 31.6387C70.1497 33.0027 67.1667 34.9874 64.6366 37.4851Z" fill="#8D99AE" stroke="white"/>
              <path d="M96.3333 54.2611L94.8889 31L102.833 32.586H106.444L104.278 50.5605L118 57.4331L96.3333 91.2675L102.111 114L92 88.6242L106.444 59.5478L96.3333 54.2611Z" fill="white"/>
              <path d="M8.63659 56.4851L8.63619 56.4855C6.1087 58.975 4.08731 61.9372 2.68536 65.2063C1.23176 68.6081 0.489655 72.2192 0.500114 75.9361V75.9375C0.500114 79.4408 1.21049 83.1021 2.62937 86.8385L2.6298 86.8396C3.80669 89.9613 5.52336 93.2093 7.71107 96.4981C11.177 101.702 15.9518 107.142 21.8949 112.668C31.7569 121.829 41.5049 128.149 41.9103 128.411L41.9104 128.411L44.4333 130.04C44.4336 130.041 44.4338 130.041 44.4341 130.041C45.3873 130.653 46.6129 130.653 47.566 130.041C47.5663 130.041 47.5665 130.041 47.5668 130.04L50.0897 128.411L50.0896 128.411L50.0976 128.406C50.4939 128.16 60.2527 121.831 70.1052 112.668L70.1052 112.668C76.0483 107.142 80.8229 101.702 84.2889 96.4984C86.476 93.2104 88.1827 89.9619 89.3707 86.8385C90.7896 83.1021 91.5 79.4408 91.5 75.9375C91.5 72.2194 90.7576 68.6077 89.3039 65.2057C87.9059 61.9349 85.8842 58.9724 83.3537 56.4859L83.353 56.4853C80.8107 53.9777 77.8508 52.0081 74.5663 50.6387L74.5657 50.6384C71.1665 49.2165 67.5688 48.5001 63.8537 48.5001C58.6958 48.5001 53.664 49.9224 49.2915 52.6087L49.0307 52.1841L49.2915 52.6087C48.2454 53.2513 47.252 53.9569 46.311 54.7255L45.9947 54.9839L45.6784 54.7255C44.7375 53.9569 43.744 53.2513 42.6979 52.6087L42.9587 52.1841L42.6979 52.6087C38.3254 49.9224 33.2937 48.5001 28.1357 48.5001L28.1346 48.5001C24.459 48.4916 20.8183 49.2184 17.4238 50.6384L17.4231 50.6387C14.1497 52.0027 11.1667 53.9874 8.63659 56.4851Z" fill="#ADC3E3" stroke="white"/>
              <path d="M43 75L32.5 48L47.5 54.5V53.5L48.5 71.5L58 78L43 110L47 131.5L40 107.5L50 80L43 75Z" fill="white"/>
              </svg>
          </div>
    </div>



</div>    

<div class="choice">
  <a button class="dislike">Dislike</a> 
  <a button class="like">Like</a>
</div>

  <%- include('_footer_cross.ejs') %>
</body>
<script type="text/javascript" src="/main.js"></script>
</html>
