<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class="background-quiz">
    <%- include('_nav_bar.ejs') %>

    <div class="quiz-container">
      <div class ="quiz-text-wrapper">
      <form action="quiz_answer" method="post">
        <p><em>Quiz.</em></p>
            <h1>Which Hogwarts House would you be in?</h1>
      </div> 

      <div class="quiz-wrapper">
        <div class="quiz"> 
            <label class="orientation">
              <p>
                Gryffindor
              </p>
            <input type="radio" name="answer" value="1">
            <span class="checkmark"></span>
          </label>
        </div>


        <div class="quiz"> 
          <label class="orientation"><p>Ravenclaw</p>
            <input type="radio" name="answer" value="2">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="quiz"> 
          <label class="orientation"><p>Slytherin</p>
            <input type="radio" name="answer" value="3">
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="quiz"> 
          <label class="orientation"><p>Hufflepuff</p>
            <input type="radio" name="answer" value="4">
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
    </div>
          <div class="nextBtn-wrapper">
            <button class="nextBtn">Submit</button>
          </div>

      </form> 
    </div>
    <script>
      $(document).ready(function(){
          $("input:radio").click(function(){
             if ($(this).is(":checked")){
             $(".quiz").css({"background-color": "RGB(255, 255, 255, 0.35)"}) && $(this).closest(".quiz").css({"background-color":"white"});
             }
          });
      });
    </script>
    
  </body> 
</html>