<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>

    <div class="orientation-container">

      <form action="quiz_answer" method="post">
        <h2>My sexual orientation is...</h2>
          <div class="orientation-wrapper">
            <label class="orientation"><p>First</p>
              <input type="radio" name="answer" value="1">
              <span class="checkmark"></span>
            </label>

            <label class="orientation"><p>Second</p>
              <input type="radio" name="answer" value ="2">
              <span class="checkmark"></span>
            </label>

            <label class="orientation"><p>Third</p>
              <input type="radio" name="answer" value="3">
              <span class="checkmark"></span>
            </label>
            <label class="orientation"><p>Fourth</p>
              <input type="radio" name="answer" value="4">
              <span class="checkmark"></span>
            </label>

          </div>

          <div class="nextBtn-wrapper">
            <button class="nextBtn">Next</button>
          </div>

      </form> 
    </div>
    <script>
      heightCalculation(".orientation-container",200)
    </script>
    
  </body> 
  
</html>