<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_nav_bar.ejs') %>
    <div class="container">
      <%- include(content) %>
    </div>
    <%- include('_footer 2.ejs') %>
  </body> 
</html>