<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body>
    <%- include('_bold_nav_bar.ejs') %>
      <script type="text/javascript"> 
        $(function() { $("#login").validate(); });
      </script>

    <div class="logo-container">
      <img class="logo1" src="../public/images/logo_line.svg" width="104" height="104">
    </div>

    <div class ="intro-container">
      <form id="login" action="signIn" method="post">
        <div class="form-wrapper">
          <div class="content-wrapper">
            <input name="email" class="input" type="email" placeholder="Email" required value="test123@test.com">
            <input name="password" class="input" type="password" placeholder="Password" minlength="5" required value="Test123!">          
            
              <% if(locals.message){ %>
              
              <div class="error-message">
                  <%= message.error%>
              </div>
              
              <% } %>
          </div>

        </div>

        <div class="nextBtn-wrapper">
          <button class="nextBtn" >Sign In</button>
        </div>
      </form> 
    </div>
  </body> 
</html>