<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"> </script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  </head>
  <body>
    <script type="text/javascript"> 
      $(function() { $("#login").validate(); });
    </script>
    
    <%- include('_nav_bar.ejs') %>

    <div class="intro-container">

      <img class="logo1" src="../public/images/LOGO1.png" width="104" height="104">

      <form id="login" action="signIn" method="post">
        <div class="content-wrapper">
          <input name="email" class="input" type="email" placeholder="Email" required>
          <input name="password" class="input" type="password" placeholder="Password" minlength="5" required>
        </div>
        
        <button class="nextBtn">Sign In</button>

      </form> 
    </div>
  </body> 
</html>