body {
  max-width: 480px;
  background-color: #edf2f4;
  margin: auto;
}

.main-container {
  display: block;
  text-align: center;
}

.main-container h1 {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  -webkit-text-stroke: 1px #484d62;
}

.sign-btn a {
  width: 186px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-size: 26px;
  text-decoration: none;
}

#signIn {
  border: 6px solid rgb(187, 166, 117);
  background-color: #fdda7f;
  border-radius: 50px;
  margin-top: 50px;
}

#signUp {
  border: 6px solid #8d99ae70;
  background-color: #2b2d42;
  border-radius: 50px;
}

.main-container img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.nav-bar {
  background-color: #2b2d42;
  padding: 7px;
  margin-bottom: 30px;
}

.content-wrapper {
  border: 8px solid #fdda7f;
  border-radius: 10px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  margin: 50px 60px;
}

.intro-container {
  text-align: center;
}

.nextBtn {
  border: 6px solid rgb(187, 166, 117);
  width: 186px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-size: 18px;
  text-decoration: none;
  background-color: #fdda7f;
  border-radius: 50px;
}

/* register_orientation section */

.content-wrapper input {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: auto;
}

/* The container */
.orientation {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}

/* Hide the browser's default radio button */
.orientation input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.orientation:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.orientation input:checked ~ .checkmark {
  background-color: #ef233c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.orientation input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.orientation .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* register_photo section */

.intro-container h1 {
  font-family: "Shrikhand", cursive;
  font-size: 36px;
}

.intro-container p {
  font-family: "Poppins", sans-serif;
}

.photo-wrapper {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
}

[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-options {
  position: relative;
  height: 25px;
  background-color: #fdda7f;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.upload-options label::after {
  content: "+";
  font-size: 20px;
  color: white;
  text-align: center;
  z-index: 0;
  margin: auto;
}

.photo-wrapper .box {
  display: block;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.image-preview {
  height: 135px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-container h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 2px;
}

.js--no-default::after {
  display: none;
}
.intro-container textarea {
  width: 100%;
  height: 130px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  resize: none;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 15px;
}

.bio-container {
  font-size: 20px;
  margin: 15px;
}

/* User profile */

.profile-container {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 1px black;
}

.profile-detail h2 {
  margin: 0px;
}

.profile-detail p {
  margin: 0px 0px 30px 0px;
}

.btn-container a,
.btn-container button {
  font-weight: bold;
  border-width: 5px;
  border-style: solid;
  padding: 5px 40px;
  font-weight: bold;
  font-size: 18px;
}

.btn-profile {
  background-color: #2b2d42;
  color: white;
  border-color: #8d99ae41;
  display: block;
  margin: 15px auto;
  width: fit-content;
  text-decoration: none;
}

.btn-logout {
  margin: 30px 0px;
  background-color: #ff3f2d;
  border-color: #8d99ae41;
  color: white;
  min-width: 150px;
}
.btn-rounded {
  border-radius: 30px;
}

/* footer */

.footer {
  color: #fdda7f;
  background-color: #2b2d40;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 480px;
  width: 100%;
}
.footer .btn-footer {
  margin: 15px 0px;
  background-color: #fdda7f;
  border-color: #2b2d424f;
  font-weight: bold;
}

.footer .btn {
  padding: 0px 10px;
  border-width: 5px;
  border-style: solid;
}

.btn-horoscope-icon {
  margin: 0px;
  border-radius: 50%;
}

/* ??? */

.personal-chars {
  font-size: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.personal-chars input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.age-container,
.distance-container {
  margin-top: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: middle;
}
.noUi-touch-area {
  background-color: #c4c4c4;
}
.noUi-connects {
  background-color: #2b2d40;
}
.noUi-pips-horizontal {
  height: 30px;
}

/* Chat Room */

.msgsend-container {
  position: fixed;
  bottom: 65px;
  background-color: #8d99ae;
  padding: 20px 20px 25px 20px;
  width: 100%;
  margin: auto;
  max-width: 440px;
  text-align: center;
}

.msgsend-container input {
  width: 60%;
}

.chat {
  font-family: "Poppins", sans-serif;
  background: #8d99ae;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  font-size: small;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 5px;
  position: relative;
}
.chat.u1 {
  float: left;
  clear: both;
  border-top-left-radius: 0px;
}
.chat.u1:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid #8d99ae;
  border-top: 5px solid #8d99ae;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  left: -10px;
}

.chat.public {
  clear: both;
  background: #00d025;
}

.chat.u2 {
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  background: #00d025;
}
.chat.u2:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid #00d025;
  border-right: 5px solid transparent;
  border-top: 5px solid #00d025;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  right: -10px;
}
