body {
  max-width: 480px;
  background-color: #edf2f4;
  margin: auto;
}

p {
  margin-bottom: 0%;
}

.main-container {
  display: block;
  text-align: center;
}

.main-container h1 {
  font-family: "Shrikhand", cursive;
  font-size: 60px;
  -webkit-text-stroke: 1px #484d62;
}

.sign-btn a {
  width: 186px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-size: 26px;
  text-decoration: none;
}

#signIn {
  border: 6px solid rgb(187, 166, 117);
  background-color: #fdda7f;
  border-radius: 50px;
  margin-top: 50px;
}

#signUp {
  border: 6px solid #8d99ae70;
  background-color: #2b2d42;
  border-radius: 50px;
}

.main-container img {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.nav-bar {
  background-color: #2b2d42;
  padding: 7px;
  margin-bottom: 30px;
}

.content-wrapper {
  border: 8px solid #fdda7f;
  border-radius: 10px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  margin: 50px 60px;
}

.intro-container {
  text-align: center;
}

.nextBtn {
  border: 6px solid rgb(187, 166, 117);
  width: 186px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  display: block;
  text-align: center;
  margin: 20px auto;
  color: white;
  font-size: 18px;
  text-decoration: none;
  background-color: #fdda7f;
  border-radius: 50px;
}

/* register_orientation section */

.content-wrapper input {
  font-family: "Poppins", sans-serif;
  display: block;
  margin: auto;
}

/* The container */
.orientation {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
}

/* Hide the browser's default radio button */
.orientation input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.orientation:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.orientation input:checked ~ .checkmark {
  background-color: #ef233c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.orientation input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.orientation .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* register_photo section */

.intro-container h1 {
  font-family: "Shrikhand", cursive;
  font-size: 36px;
}

.intro-container p {
  font-family: "Poppins", sans-serif;
}

.photo-wrapper {
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(3, 1fr);
}

[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-options {
  position: relative;
  height: 25px;
  background-color: #fdda7f;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}

.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}

.upload-options label::after {
  content: "+";
  font-size: 20px;
  color: white;
  text-align: center;
  z-index: 0;
  margin: auto;
}

.photo-wrapper .box {
  display: block;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

.image-preview {
  height: 135px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro-container h2 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  margin: 2px;
}

.js--no-default::after {
  display: none;
}
.intro-container textarea {
  width: 100%;
  height: 130px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  resize: none;
  margin: auto;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 15px;
}

.bio-container {
  font-size: 20px;
  margin: 15px;
}

/* User profile */

.profile-container {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: solid 1px black;
}

.profile-detail h2 {
  margin: 0px;
}

.profile-detail p {
  margin: 0px 0px 30px 0px;
}

.btn-container a,
.btn-container button,
.btn {
  font-weight: bold;
  border-width: 5px;
  border-style: solid;
  padding: 5px 40px;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.btn-profile {
  background-color: #2b2d42;
  color: white;
  border-color: #8d99ae41;
  display: block;
  margin: 15px auto;
  width: fit-content;
  text-decoration: none;
}

.btn-logout {
  margin: 30px 0px;
  background-color: #ff3f2d;
  border-color: #8d99ae41;
  color: white;
  cursor: pointer;
  text-decoration: none;
  min-width: 150px;
}

.logout-container {
  margin-top: 30px;
}

.btn-rounded {
  border-radius: 30px;
}

/* footer */

.footer {
  color: #fdda7f;
  background-color: #2b2d40;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 480px;
  width: 100%;
}
.footer .btn-footer {
  margin: 15px 0px;
  background-color: #fdda7f;
  border-color: #2b2d424f;
  font-weight: bold;
}

.footer .btn {
  padding: 0px 10px;
  border-width: 5px;
  border-style: solid;
}

.btn-horoscope-icon {
  margin: 0px;
  border-radius: 50%;
}

/* edit-info */

.personal-chars {
  font-size: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40%;
}
.personal-chars input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}
.char-prop {
  padding: 10px;
}

.btn-edit-container,
.container-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-edit-container,
.container-info {
  height: 500px;
}

.btn-edit-container .btn-container a,
.container-info .btn-container a {
  min-width: 200px;
}

.container-profile {
  margin-bottom: 12%;
}

.age-container,
.distance-container {
  margin-top: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
.noUi-touch-area {
  background-color: #c4c4c4;
}
.noUi-connects {
  background-color: #2b2d40;
}
.noUi-pips-horizontal {
  height: 30px;
}

/* Chat Room */

.msgsend-container {
  position: fixed;
  bottom: 65px;
  background-color: #8d99ae;
  padding: 0px 25px 25px 25px;
  width: 100%;
  margin: auto;
  max-width: 480px;
  text-align: center;
}

.msgsend-container input {
  width: 60%;
}

.chat {
  font-family: "Poppins", sans-serif;
  background: #8d99ae;
  border-radius: 20px;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-weight: lighter;
  font-size: small;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  margin: 5px;
  position: relative;
}

.chat.u1 {
  float: left;
  clear: both;
  border-top-left-radius: 0px;
  margin-left: 20px;
}
.chat.u1:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid transparent;
  border-right: 5px solid #8d99ae;
  border-top: 5px solid #8d99ae;
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  left: -10px;
}

.chat.public {
  clear: both;
  background: #484d62;
}

.public {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.chat.u2 {
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  background: rgb(187, 166, 117);
  margin-right: 20px;
}
.chat.u2:before {
  content: "";
  width: 0px;
  height: 0px;
  display: block;
  border-left: 5px solid rgb(187, 166, 117);
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(187, 166, 117);
  border-bottom: 5px solid transparent;
  position: absolute;
  top: 0px;
  right: -10px;
}

/* Kailin */

.intro-container-profile {
  /* max-height: 100vh; */
  max-height: 80vh;
  /* text-align: center; */
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #fdda7f;
  border-radius: 15px;
  position: relative;
}

* {
  box-sizing: border-box;
}
/* Carsoule */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: blue;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 2vh;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides img {
  width: 80%;
  margin: auto;
}

.nameBox {
  background-color: white;
  max-height: 30vh;
  width: 80%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  border-bottom: 10px solid #fdda7f;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
}

.nameBox h2 {
  padding-top: -0px;
  padding-left: 20px;
  color: #454344;
  margin: 0;
  margin-top: 10px;
}

.info {
  padding-left: 20px;
  text-align: left;
  border-top: #fdda7f solid 5px;
}

.info p {
  margin-bottom: 0;
}

.choice {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

.choice .like {
  background-color: #ef233c;
  border-radius: 50px;
  border: 6px solid #ed213e;
  margin: auto;
  width: 30%;
  height: 70%;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  font-size: 6vw;
  color: white;
}

.choice .dislike {
  background-color: #8d99ae;
  border-radius: 50px;
  border: 6px solid #759ad0;
  margin: auto;
  width: 30%;
  height: 70%;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  font-size: 6vw;
  color: white;
}

/* loading screen */
.loadScreen-body {
  background-color: #2b2d42;
}

.loadscreen-wrapper {
  border: 20px solid #fdda7f;
  border-radius: 10px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  margin: 50px 30px;
  font-size: large;
}

/* omikuji page */
.match {
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.compBox {
  background-color: white;
  max-height: 90vh;
  width: 80%;
  text-align: center;
  margin: auto;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  margin-bottom: 20px;
}
#compatibility-text {
  font-size: 1.2em;
  /* line-height: 30px; */
}

/* --------------match tab page */
/* 1. search bar */
.searchInput {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  font-family: "Poppins", sans-serif;
}
.searchInput input {
  border-radius: 8px;
  border-color: white;
  width: 80%;
  height: 6vh;
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 10px;
}

/* 2. buttons */
.matchTab-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  border-bottom: #2b2d42 solid 3px;
}

.matchTab-buttons button {
  background-color: #ffeab2;
  border-radius: 8px;
  border-color: transparent;
  width: 60%;
  flex-grow: 1;
  margin: 1px;
  margin-bottom: 0;
  font-size: large;
  cursor: pointer;
  margin-top: 3vh;
  font-family: "Poppins", sans-serif;
}
.matchTab-buttons button:focus {
  background-color: #fdda7f;
}

.roundProfile-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-top: 3vh;
  font-family: "Poppins", sans-serif;
}

#luckyMatch {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #2b2d42;
}

.column .photo {
  margin-bottom: 2vh;
}

/* user list in chat tap  */

.user-wrapper {
  display: flex;
  margin: 0px;
  padding: 20px;
}

.user-wrapper img {
  height: 50px;
  width: 50px;
  margin-right: 15px;
  float: left;
  border-radius: 50%;
}

.user-wrapper a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  margin-left: auto;
  display: block;
  margin: 2px 0 0 0;
}
