

/* nav bar */
.nav-bar {
  background-color: #2b2d42;
  padding: 7px;
 margin-bottom: 30px;
}


/* footer */

.profile_footer{

  background-color: #2b2d40;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height:10vh;
  position: fixed;
  bottom:0;
  width:100%;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  margin-top: 30px;
}


 .footer_btn {
   background-color: #fdda7f;
   border-radius: 50px;
   border: 6px solid rgb(187, 166, 117);
   margin:auto;
   width:80%;
   height: 70%;
   font-weight: bold;
   align-items: center;
   display: inline-flex;
   justify-content: space-around;
   font-size: 6vw;
  

}
 

.Centre_button{
 margin:auto;
} 

.Centre_button img{
   object-fit: contain;
   height:10vh;
}  

/* body */

*{
  box-sizing: border-box;
}

body{
  background-color: #edf2f4;
  margin: auto;
  min-height: 100vh;
}

 .intro-container-profile{
  /* max-height: 100vh; */
  max-height: 80vh;
  /* text-align: center; */
  margin-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;
  background-color:#FDDA7F;
  border-radius: 15px;
  position:relative;
} 

* {box-sizing:border-box}
/* Carsoule */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: blue;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 2vh;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img{
  width: 80%;
  margin: auto;

}

.nameBox{
  background-color: white;
  max-height: 30vh;
  width: 80%;
  text-align: center; 
  margin: auto;
  border-radius: 15px;
  border-bottom: 10px solid #FDDA7F;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative;

}

.nameBox h2{
    padding-top: -0px;
    padding-left: 20px;
    color: #454344;
    margin: 0;
    margin-top: 10px;
  
}

.info{
  padding-left: 20px;
  text-align: left;
  border-top: #FDDA7F solid 5px;
}

.info p{
  margin-bottom: 0;
}

.choice{
  display:inline-flex;
  justify-content: space-evenly;
  width: 100%;
}

.choice .like{
  background-color:#EF233C;
  border-radius: 50px;
  border: 6px solid #ED213E;
  margin:auto;
  width:30%;
  height: 70%;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  font-size: 6vw;
  color:white;
}

.choice .dislike{
  background-color:#8d99ae;
  border-radius: 50px;
  border: 6px solid #759AD0;
  margin:auto;
  width:30%;
  height: 70%;
  font-weight: bold;
  align-items: center;
  display: inline-flex;
  justify-content: space-around;
  font-size: 6vw;
  color:white;
}