body {
  background-color: #f8f9fa !important;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

* {
  margin: 0%;
  padding: 0%;
}
p {
  margin-bottom: 0%;
}
.profile-image {
  height: 150px;
  width: 150px;
}
.btn-profile {
  background-color: #2b2d42;
  color: white;
  border-color: #8d99ae41;
}
.btn-profile,
.btn-logout {
  min-width: 150px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
.container-info,
.container-profile {
  margin-bottom: 12%;
}

.container-info {
  margin-top: 10%;
}

.btn-logout {
  margin-top: 12px;
  background-color: #ff3f2d;
  border-color: #8d99ae41;
}
.btn-rounded {
  border-radius: 30px;
}
.container h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  text-align: center;
}
.navbar,
.footer {
  color: #fdda7f;
  background-color: #2b2d40 !important;
}
.footer {
  position: fixed;
  width: 100%;
  height: 10%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  justify-content: space-evenly;
}
.footer .btn-footer {
  margin: 8px 0px;
  background-color: #fdda7f;
  border-color: #2b2d424f;
  font-weight: bold;
}
.chevron-left {
  fill: #fdda7f;
  font-size: 24px;
  font-weight: bolder;
}
.btn {
  border-width: 5px;
  border-style: solid;
}
.btn-horoscope-icon {
  margin: 0px !important;
}

.personal-chars {
  font-size: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.personal-chars input[type="radio"] {
  width: 20px;
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
.age-container,
.distance-container {
  margin-top: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;

}
.noUi-touch-area {
  background-color: #c4c4c4;
}
.noUi-connects {
  background-color: #2b2d40;
}
.noUi-pips-horizontal {
  height: 30px !important;
}
.details-container {
  font-family: 'Poppins', sans-serif;
}

