<!DOCTYPE html>
<html lang="en">
<%- include('_header.ejs') %>
<body>
  <%- include('_nav_bar.ejs') %>

<div class = "intro-container-profile">
     <!-- Slideshow container -->
    <div class="match-container">
        <!-- Full-width images with number and caption text -->
        <div class="profile-like-container">
            <!-- information -->
            <h2 class="match-title" style="color: white;">Congratulations !</h2>
            <h2 class="match-title" style="color: white;">It's A Match</h2>
            <h4 class="match-title" style="color: white;">You and Santra like each other</h4>
            <div class="match-like-pics">
                <img class="profile-image" src="/images/janet1.png" alt="guest image">
                <img class="profile-image" src="/images/janet2.png" alt="guest image">
            </div>
            <div class="match-btn-container">
                <a class="match-btn dislike">Send Message</a> 
                <a href="/browse" button class="match-btn like">Keep Swiping</a>
            </div>
        </div>
    </div>
</div>    


<%- include('_footer 2.ejs') %>
</body>
</html>