<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class = "loadScreen-body">
    <div class="loading-container">
      <img src="../public/images/Logo.gif">
        <p> 
            Calculating <br> the compatibility of your creative energies...
        </p>

      <script>
        setTimeout(function(){
          location.href="javascript:openSite()"
        },3000)
        var links = [
              "omikuji1",
              "omikuji2",
              "omikuji3",
              "omikuji4"]

        var openSite = function() {
            // get a random number between 0 and the number of links
            var randIdx = Math.random() * links.length;
            // round it, so it can be used as array index
            randIdx = parseInt(randIdx, 10);
            // construct the link to be opened
            var link = links[randIdx];
            return location.href=link
          }; 
      </script>
  </div>
  </body> 
</html>