<!DOCTYPE html>
<html lang="en">
  <%- include('_header.ejs') %>
<body>
  <%- include('_nav_bar.ejs') %>

<div class = "match intro-container-profile">
    <div style="text-align:center">
           <h1> Compatibility</h1>
    </div>
 
    <!-- information -->
    <div class="compBox">
      <div id="compatibility-text">
        <p>Based on your compatibility algorithm,</p>
        <p>The two horoscopes compliment 50%. </p>
        <p>Give a try! Good luck!</p>
        </div>

        <div class="heart">
            <img src="../public/images/heart.png" >  
          </div>
    </div>



</div>    

<!-- <div class="choice">
  <a class="dislike">Dislike</a> 
  <a button class="like">Like</a>
</div> -->

  <%- include('_footer_cross.ejs') %>
</body>
<script type="text/javascript" src="/main.js"></script>
</html>
