<!DOCTYPE html>
<html>
  <%- include('_header.ejs') %>
  <body class="background-white">
    <%- include('_nav_bar.ejs') %>
    <div class="error-container">
      <img src="/public/images/error.svg" width="91" height="91">
      <h2>No users</h2>
      <p> Sorry, There is no more profile to check now. <br></p>
    </div>
    <div class="footer">
      <a class="footer-btn" href="/user">Account</a>
      <a style="pointer-events: none;" class="footer-img" href = "loadingScreen" >
        <img  height="75%" src="../public/images/star_button.svg" />
      </a>
      <a class="footer-btn" href="/chat_main">Matches</a>
    </div>
    <script>
      heightCalculation(".error-container",200)
    </script>
  </body> 
</html>